#booking-section {
    padding: 30px 0;

    .select-process {
        box-shadow: 0px 5px 50px rgb(0 0 0 / 10%);
        border-radius: 10px;
        padding: 20px;

        i {
            color: #000;
        }
    }
    input {
        width: 100%;
        border: 0;
        outline: 0;
        margin-left: 10px;
    }

    .form-select {
        border: 0px;
    }
}
@include xxs {
    #booking-section {
        input {
            width: 80%;
        }

        i {
            font-size: 16px;
        }

        .btn-custom {
            margin: 0 auto;
        }

        .destination,
        .pickup-date,
        .return-date {
            margin-bottom: 15px;
        }
    }
}
