#experience-section {
    position: relative;
    padding: 60px 0;

    &::after {
        content: "Experience";
        @include secondary-heading;
    }

    .section-heading {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 111px;
    }

    .single-experience {
        text-align: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 113%;
            left: 50%;
            background: url(../img/experience/stroke.png) no-repeat;
            width: 25px;
            height: 241px;
            transform-origin: top;
            transform: translate(-50%, 0);
        }

        h3 {
            color: #000;
            font-size: 24px;
            margin-bottom: 30px;
        }

        img {
            background: #f2f2f2;
            padding: 20px;
            box-shadow: 0 5px 30px #00000033;
            border: 5px solid #fff;
            border-radius: 20px;
        }
    }

    .left-stroke,
    .right-stroke {
        margin-top: 60px;
    }

    .left-stroke {
        &::before {
            transform: rotate(315deg);
        }
    }

    .right-stroke {
        &::before {
            transform: rotate(45deg);
        }
    }

    .experience-car {
        margin: 145px 0 195px;
        background: url(../img/experience/experience-bg.png) no-repeat;
        background-position: 120px 105px;
    }

    /*-------------------BOTTOM ROW STYLE STARTS HERE----------------*/

    .bottom-row {
        .single-experience {
            margin-top: 55px;

            &::before {
                top: -20px;
                transform: translate(-50%, 0) rotate(180deg);
            }

            h3 {
                margin-bottom: 0;
                margin-top: 30px;
            }
        }
        .left-stroke,
        .right-stroke {
            margin-top: 0px;
        }

        .left-stroke {
            &::before {
                transform: rotate(225deg);
            }
        }

        .right-stroke {
            &::before {
                transform: rotate(135deg);
            }
        }
    }
}

@include lg {
    #experience-section {
        .section-heading {
            width: 70%;
        }

        .experience-car {
            background-position: 25px 105px;
        }
    }
}

@include md {
    #experience-section {
        .section-heading {
            width: 100%;
            margin-bottom: 50px;
        }

        .single-experience {
            margin-bottom: 30px;
            &::before {
                display: none;
            }
        }

        .left-stroke,
        .right-stroke {
            margin-top: 0px;
        }
        .experience-car {
            margin: -50px 0 0;
        }
        .bottom-row {
            .single-experience {
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }
}
@include sm {
    #experience-section {
        padding: 40px 0;
    }
}

@include xxs {
    #experience-section {
        padding: 30px 0;

        .single-experience {
            h3 {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
