footer {
    background: #000;
    padding-top: 270px;
    padding-bottom: 70px;
    clip-path: polygon(0 125px, 100% 0, 100% 100%, 0% 100%);
    position: relative;

    .footer-top {
        margin-bottom: 90px;
    }
    .footer-widget {
        h3 {
            font-size: 24px;
            color: #fff;
            margin-bottom: 33px;
            text-transform: capitalize;
        }

        li {
            margin-bottom: 30px;
            a {
                text-transform: capitalize;
                color: #fff;
            }
        }
    }
    .subscribe {
        display: flex;
        position: relative;

        i {
            position: absolute;
            color: #766e6e;
            left: 15px;
            font-size: 25px;
            top: 50%;
            transform: translate(0, -50%);
        }

        input {
            width: 70%;
            font-size: 16px;
            font-weight: 400;
            border: 0;
            outline: 0;
            border-radius: 10px;
            padding: 15px 20px;
            padding-left: 50px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn-custom {
            width: 30%;
            height: 60px;
            padding: 0px 20px;
            border: 0;
            border-radius: 10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover {
                &::after {
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .socials {
        margin-top: 30px;
        i {
            margin-right: 30px;
            border: 2px solid;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 37px;
        }
    }

    .footer-bottom {
        font-size: 16px;
        line-height: 24px;
        .copyright {
            color: #fff;
        }
        .footer-nav {
            li {
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                color: #fff;
                text-transform: capitalize;
            }
        }
    }
}

@include md {
    footer {
        .footer-top {
            margin-bottom: 50px;
        }
        .footer-bottom {
            .footer-nav {
                margin-top: 20px;
            }
        }
    }
}

@include xxs {
    footer {
        .footer-top {
            .col-xxs-12 {
                width: 100%;
            }
        }
        .footer-widget {
            text-align: center;
            .subscribe {
                justify-content: center;
                flex-wrap: wrap;

                i {
                    top: 12%;
                    transform: none;
                }

                input {
                    width: 100%;
                    margin-bottom: 15px;
                    border-radius: 10px;
                }

                .btn-custom {
                    border-radius: 10px;
                    width: 50%;
                }
            }
        }
    }
}
