/* -------------------------------HEADER STYLES------------------------------ */
header {
    border-bottom: 2px solid #dcd8d8;

    padding: 20px 50px;

    .navbar-nav {
        column-gap: 70px;
    }

    .nav-item {
        // margin-right: 70px;

        &:last-child {
            margin-right: 0px;
        }
        a {
            color: $color-3;
            text-transform: capitalize;
            position: relative;
            font-size: 16px;

            &:hover {
                color: $main-color;
                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -32px;
                background: $main-color;
                width: 100%;
                height: 3px;
                border-radius: 50px;
                opacity: 0;
                transition: all 0.4s ease;
            }
        }
    }

    .sign-up-btn {
        text-transform: capitalize;
        @include gradient-y;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 14px;
        font-weight: 600;
        padding: 0px 40px;
        line-height: 50px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 111;
    padding: 10px 50px;
    transition: padding 0.4s ease;
    // animation: fadeDown 0.4s ease forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@include md {
    header {
        .navbar-nav {
            row-gap: 10px;
            align-items: flex-start !important;
        }

        .sign-up-btn {
            padding: 0 15px;
        }

        .btn-custom {
            padding: 0px 20px;
            height: 50px;
            line-height: 55px;

            i {
                font-size: 25px;
            }
        }
    }
}

@include sm {
    header {
        padding: 20px;
    }

    .sticky {
        padding: 20px;
    }
}

@include xs {
    header {
        padding: 20px 15px;
    }

    .sticky {
        padding: 20px 15px;
    }
}

@include xxs {
    header {
        padding: 10px 0;

        .btn-custom {
            padding: 0px 15px;
            height: 40px;
            line-height: 45px;

            i {
                font-size: 20px;
            }
        }
        .logo-container {
            img {
                width: 47px;
            }
        }
    }

    .sticky {
        padding: 10px 0;
    }
}
