/*  */
header {
    @include xxs{
        padding: 20px 0px;

        .btn-custom {
            height: 40px;
            line-height: 37px;
            padding: 0px 15px;
            border-radius: 5px;
        }

        a {
            display: inline-block;
            margin-left: 15px;
            color: $main-color;
            font: {
                size: 16px;
                weight : 400;
            }
            margin-bottom: 10px;
        }

        .offcanvas.offcanvas-start {
            width: 80%;
        }
    }

    @include xs {
        .offcanvas.offcanvas-start {
            width: 60%;
        }
    }

    @include sm {
        .offcanvas.offcanvas-start {
            width: 50%;
        }
    }

    @include md {
        .offcanvas.offcanvas-start {
            width: 40%;
        }
    }

    @include lg {
        padding: 40px 0px;

        a {
            margin-left: 35px;
        }

        .btn-custom {
            height: 60px;
            line-height: 57px;
            padding: 0px 40px;
            border-radius: 35px;
        }

        .navbar-nav {
            align-items: center;
        }
    }
}