/*------------------HERO SECTION STYLES-----------------*/

#hero-section {
    padding: 142px 0;
    position: relative;
    overflow: hidden;
    .hero-content {
        z-index: 2;
        position: relative;
        h1 {
            color: #000;
            text-transform: capitalize;
            margin-bottom: 36px;
        }

        p {
            width: 70%;
            margin-bottom: 38px;
        }
    }

    .hero-slider {
        margin-top: 130px;

        img {
            width: 100%;
        }
    }

    .tns-outer::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0%;
        width: 50%;
        height: 100%;
        background: white;
        z-index: 1;
    }

    .tns-inner {
        width: 100%;
    }

    .tns-ovh {
        overflow: visible;
    }

    .car-container {
        position: relative;
        .car-img {
            position: absolute;
            z-index: 1;
            top: -210px;
            left: -110px;
        }
    }
}

@include xl {
    #hero-section {
        .car-container {
            .car-img {
                top: -180px;
            }
        }
    }
}

@include lg {
    #hero-section {
        .car-container {
            .car-img {
                top: -150px;
            }
        }
    }
}

@include md {
    #hero-section {
        padding: 60px 0;
        .row {
            justify-content: center;
        }
        .hero-slider {
            margin-top: 60px;
        }
        .tns-outer::before {
            width: 10%;
        }
        .car-container {
            .car-img {
                top: -190px;
            }
        }
    }
}

@include sm {
    #hero-section {
        padding: 45px 0;

        .hero-content {
            h1 {
                font-size: 50px;
                line-height: 60px;
                margin-bottom: 20px;
            }
            p {
                width: 100%;
                margin-bottom: 25px;
            }
        }

        .tns-outer::before {
            width: 5%;
        }
        .car-container {
            .car-img {
                left: -60px;
                top: -175px;
            }
        }
    }
}

@include xs {
    #hero-section {
        .tns-outer::before {
            display: none;
        }
        .tns-inner {
            width: 95%;
        }
        #tns1 > .tns-item {
            padding-right: 40px;
        }

        .car-container {
            .car-img {
                left: -50px;
                top: -155px;
                width: 95%;
            }
        }
    }
}

@include xxs {
    #hero-section {
        padding: 30px 0;

        .hero-content {
            h1 {
                font-size: 35px;
                line-height: 45px;
            }
        }

        .car-container {
            .car-img {
                top: -95px;
                left: -40px;
            }
        }
    }
}
