/*------------------HERO SECTION STYLES-----------------*/

#hero-section {
    padding: 142px 0;
    position: relative;
    .hero-content {
        // width: 50%;
        z-index: 2;
        position: relative;
        h1 {
            color: #000;
            text-transform: capitalize;
            margin-bottom: 36px;
        }

        p {
            width: 70%;
            margin-bottom: 38px;
        }
    }

    .hero-slider {
        margin-top: 130px;
        // position: relative;

        img {
            width: 100%;
        }
    }

    .tns-outer::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0%;
        width: 50%;
        height: 100%;
        background: white;
        z-index: 1;
    }

    .tns-inner {
        width: 100%;
    }

    .tns-ovh {
        overflow: visible;
    }

    .single-img {
    }

    .car-container {
        position: relative;
        .car-img {
            position: absolute;
            z-index: 1;
            top: -180px;
            left: -110px;
        }
    }
}

@include lg {
    #hero-section {
        .car-container {
            .car-img {
                top: -150px;
            }
        }
    }
}

@include xxs {
    #hero-section {
        padding: 45px 0;

        .hero-content {
            h1 {
                font-size: 45px;
                line-height: 55px;
                margin-bottom: 20px;
            }
            p {
                width: 100%;
                margin-bottom: 25px;
            }
        }

        .hero-slider {
            margin-top: 60px;
        }
        .single-img {
            width: 80%;
        }
    }
}
