#process-section {
    padding: 60px 0;
    position: relative;

    &::after {
        content: "3 quick steps";
        @include secondary-heading;
    }

    .section-heading {
        margin-bottom: 97px;
    }

    .single-process {
        text-align: center;
        transition: all 0.4s ease;

        // &:hover {
        //     .single-process-icon i {
        //         color: #fff;
        //         -webkit-background-clip: unset;
        //         -webkit-text-fill-color: #fff;
        //     }
        // }

        h3 {
            color: #000;
        }

        p {
            font-size: 18px;
        }
    }

    .single-process-icon {
        background: #f2f2f2;
        width: fit-content;
        border-radius: 15px;
        margin: 0 auto;
        margin-bottom: 50px;
        position: relative;
        &::after {
            content: "";
            width: 318px;
            height: 100%;
            top: 25px;
            left: 60px;
            position: absolute;
            z-index: -1;
            background-image: url(../img/line/line-1.png);
            background-repeat: no-repeat;
        }

        i {
            border: 2px solid #ffffff;
            box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
            padding: 25px 30px;
            border-radius: 15px;
            font-size: 40px;
            @include gradient-y-reverse;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            z-index: 2;
            // transition: all 2s ease;
        }
    }
    .second-icon {
        i {
            color: #fff;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: #fff;
        }

        &::after {
            transform: rotate(180deg);
            top: 0;
            height: 80%;
            left: 35px;
        }
    }
    .last-icon {
        &::after {
            display: none;
        }
    }
}
@include md {
    #process-section {
        .single-process-icon::after {
            display: none;
        }
    }
}

@include md {
    #process-section {
        .section-heading {
            margin-bottom: 40px;
        }
        .single-process {
            margin-bottom: 30px;
        }
    }
}

@include sm {
    #process-section {
        padding: 40px 0;
    }
}
@include xxs {
    #process-section {
        padding: 30px 0;
        .section-heading {
            margin-bottom: 40px;
        }

        .single-process {
            margin-bottom: 35px;
        }
        .single-process-icon {
            margin-bottom: 20px;

            &::after {
                display: none;
            }

            i {
                font-size: 30px;
            }
        }
    }
}
