#service-section {
    padding: 60px 0;
    position: relative;
    &::after {
        content: "Services";
        @include secondary-heading;
    }

    .service-subtitle {
        text-transform: uppercase;
    }

    .section-heading {
        margin-bottom: 70px;
    }
    .service-img {
        justify-content: flex-end;
    }
    .single-service {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        img {
            background-color: #f2f2f2;
            border: 2px solid white;
            box-shadow: 0px 5px 50px #00000033;
            padding: 25px;
            border-radius: 15px;
            margin-right: 35px;
        }
    }

    .single-service-details {
        h3 {
            font-size: 24px;
            color: #000;
        }
        .single-service-subtitle {
        }
    }
}
@include md {
    #service-section {
        .section-heading {
            margin-bottom: 45px;
        }
        .service-img {
            justify-content: center;
            img {
                max-width: 100%;
                width: 70%;
            }
        }
    }
}
@include xxs {
    #service-section {
        padding: 30px 0;

        .single-service {
            flex-direction: column;
            text-align: center;

            img {
                margin-right: 0px;
                margin-bottom: 25px;
            }
        }
    }
}
