h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: inherit;
}

a{
    transition: all .4s ease;
    text-decoration: none;
}

a:hover {
    color: $color-2;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus,button:hover {
    outline: none;
}

a:hover,a:focus,a:visited {
    outline: none;
}

.btn-custom {
    display: inline-block;
    background-color: $color-2;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    height: 60px;
    padding: 0px 40px;
    border-radius: 40px;
    text-transform: capitalize;
    border: 1px solid transparent;
    
    &:hover {
        background-color: #fff;
        border: 1px solid $main-color;
    }
}

.section-heading {
    
}
.section-heading h4 { 
    color: #ff3946;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.section-heading h2 {
    text-transform: capitalize;
}