/* -------------------------------GLOBAL STYLES------------------------------ */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

a {
    transition: all 0.4s ease;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus,
button:hover {
    outline: none;
}

a:hover,
a:focus,
a:visited {
    outline: none;
}

.btn-custom {
    @include gradient-x;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    padding: 0px 50px;
    border-radius: 6px;
    text-transform: capitalize;
    position: relative;
    transition: all 1s ease;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include gradient-x-reverse;
        border-radius: 5px;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s ease;
    }
}

.section-heading {
}
.section-heading h4 {
    color: #ff3946;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.section-heading h2 {
    text-transform: capitalize;
}
