html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font: {
        family: $main-font;
        size : 16px;
    }
    line-height: 26px;
    background-color: #fff;
    color: $color-3;
    margin: 0;
    padding: 0;
    width: 100%;
}