/*-----------------------------------------------Typography-----------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: $main-color;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
}

h2 {
    font-size: 50px;
    line-height: 70px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    line-height: 30px;
}

h5 {
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: $color-3;
    margin-bottom: 10px;
}